.rc-pagination-item {
  border-radius: 6px;
  line-height: 28px;
  text-align: center;
  margin-right: 8px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  border-color: #f90909;
}

.rc-pagination-item a{
  text-decoration: none;
  color: #000;
} 
.rc-pagination-item:hover a {
  text-decoration: none;
  color: white;
}

.rc-pagination-item:hover, 
.rc-pagination-item:focus a {
  text-decoration: none;
  border-color: #f90909;
  background-color: #f90909;
}

.rc-pagination-item-disabled,
.rc-pagination-item-disabled:hover a {
  text-decoration: none;
  cursor: not-allowed;
  border-color: #d9d9d9;
  color: #d9d9d9;
}
.rc-pagination-item-active {
  background-color: #f90909;
  color: white !important;
}

.rc-pagination-item-active:hover a {
  text-decoration: none;
  color: white;
}

.rc-pagination-jump-prev:before, 
.rc-pagination-jump-next:before {
  content: "•••";
  display: block;
  letter-spacing: 2px;
  color: #f90909;
  font-size: 12px;
  margin-top: 1px;
}

.rc-pagination-jump-prev-custom-icon:hover:before,
.rc-pagination-jump-next-custom-icon:hover:before {
  color: #f90909;
}

.rc-pagination-jump-prev:hover:before {
  content: "«";
}

.rc-pagination-jump-next:hover:before {
  content: "»";
}

.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  font-size: 0px;
}

.rc-pagination-next a:after {
  text-decoration: none;
  position: absolute;
  top: 4;
}

.rc-pagination-prev,
.rc-pagination-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-right: 8px;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 15px;
  font-size: 15px;
  border: 1px solid #f90909;
  color: #f90909;
}

.rc-pagination-prev:hover,
.rc-pagination-next:hover {
  border-color: #f90909;
  background-color: #f90909;
  color: white;
}

.rc-pagination-disabled,
.rc-pagination-disabled a {
  text-decoration: none;
  cursor: not-allowed;
  color: #f90909;
}
